<a href="https://colab.research.google.com/github/nikmahadeshwar/NYC_Citibike_Challenge/blob/main/NYC_Citibike_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv("/201908-citibike-tripdata.csv")
df

       tripduration                 starttime  ... birth year  gender
0               393  2019-08-01 00:00:01.4680  ...     1996.0     2.0
1               627  2019-08-01 00:00:01.9290  ...     1998.0     2.0
2              1132  2019-08-01 00:00:04.0480  ...     1988.0     1.0
3              1780  2019-08-01 00:00:04.1630  ...     1988.0     1.0
4              1517  2019-08-01 00:00:05.4580  ...     1965.0     2.0
...             ...                       ...  ...        ...     ...
49676           697  2019-08-01 17:06:52.3910  ...     1972.0     1.0
49677           136  2019-08-01 17:06:52.8160  ...     1994.0     1.0
49678          1438  2019-08-01 17:06:53.4470  ...     1976.0     2.0
49679           528  2019-08-01 17:06:54.4600  ...     1982.0     1.0
49680           162  2019-08-01 17:06:55.4990  ...        NaN     NaN

[49681 rows x 15 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49681 entries, 0 to 49680
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             49681 non-null  int64
 1   starttime                49681 non-null  object
 2   stoptime                 49681 non-null  object
 3   start station id         49678 non-null  float64
 4   start station name       49678 non-null  object
 5   start station latitude   49681 non-null  float64
 6   start station longitude  49681 non-null  float64
 7   end station id           49677 non-null  float64
 8   end station name         49677 non-null  object
 9   end station latitude     49680 non-null  float64
 10  end station longitude    49680 non-null  float64
 11  bikeid                   49680 non-null  float64
 12  usertype                 49680 non-null  object
 13  birth year               49680 non-null  float64
 14  gender                   49680 non-null  float64
dtypes: float64(9), int64(1), object(5)
memory usage: 5.7+ MB

In [4]:
df.tripduration = pd.to_datetime(df.tripduration, unit = "s")
df

             tripduration                 starttime  ... birth year  gender
0     1970-01-01 00:06:33  2019-08-01 00:00:01.4680  ...     1996.0     2.0
1     1970-01-01 00:10:27  2019-08-01 00:00:01.9290  ...     1998.0     2.0
2     1970-01-01 00:18:52  2019-08-01 00:00:04.0480  ...     1988.0     1.0
3     1970-01-01 00:29:40  2019-08-01 00:00:04.1630  ...     1988.0     1.0
4     1970-01-01 00:25:17  2019-08-01 00:00:05.4580  ...     1965.0     2.0
...                   ...                       ...  ...        ...     ...
49676 1970-01-01 00:11:37  2019-08-01 17:06:52.3910  ...     1972.0     1.0
49677 1970-01-01 00:02:16  2019-08-01 17:06:52.8160  ...     1994.0     1.0
49678 1970-01-01 00:23:58  2019-08-01 17:06:53.4470  ...     1976.0     2.0
49679 1970-01-01 00:08:48  2019-08-01 17:06:54.4600  ...     1982.0     1.0
49680 1970-01-01 00:02:42  2019-08-01 17:06:55.4990  ...        NaN     NaN

[49681 rows x 15 columns]

In [5]:
df.to_csv("bike.csv", index=False)